.margin-bot-2 {
	margin-bottom: 2em;
}
.margin-bot-3{
	margin-bottom: 3em;
}
.margin-bot-20{
	margin-bottom: 20em;
}
.height-6 {
	heigth: 60vh;
}

.height-7 {
	heigth: 70vh;
}

.hidden {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", Times, serif;
}

p {
	font-size: 1.2em;
}

footer {
	text-align: right;
	width: 100%;
	background-color: #EBEBEB;
	padding:2vh;
}
footer *{
	display:inline-block;
	margin-right: 2vw;
}

.right {
 	float: right;
 	width: 50%;
 	text-align: right;
 	font-size: 1.5em;
}
.left {
 	float: left;
 	width: 50%;
 	text-align: left;
 	font-size: 1.5em;
}

.right * {
	width: 100%;
	display: block;
 	background-color: yellow;
}

.left * {
	width:100%;
	display: block;
}

table {
	width: 100%;
}
.rc {
	text-align: right;
}

.lc {
	text-align: left;
}

td {
	width: 50%;
}